In [1]:
import pandas as pd

In [2]:
import geopandas as gpd

In [20]:
curr_data = 'zone_3_4'
zone03 = gpd.read_file(f'../data/data_root/{curr_data}.geojson')
utm_proj = "+proj=utm +zone=11 +datum=WGS84 +units=m +no_defs"
zone03 = zone03.to_crs(utm_proj)
zone03['area'] = zone03['geometry'].area
zone03 = zone03[['hgt_median_m', 'area', 'yrbuilt']]
zone03 = zone03.reset_index()
zone03.to_csv(f"../data/data_root/building_metadata_{curr_data}.csv", index=False)
zone03

      index  hgt_median_m         area yrbuilt
0         0          5.16  8207.438107    1968
1         1          5.16  2486.559716    1968
2         2         20.05  8207.438107    1968
3         3         20.05  2486.559716    1968
4         4         13.32   177.759890    1911
...     ...           ...          ...     ...
7479   7479          5.89    39.179824    1907
7480   7480          7.69    37.364984    1907
7481   7481          8.99    35.880695    1926
7482   7482          6.08    24.249272    1939
7483   7483          8.16    21.429524    1973

[7484 rows x 4 columns]